---
layout: default
header: text
header-text: "LaunchCode's CSE131"
header-class: site-header--narrow
---

{% include nav.html %}

<section class="site-mission">
	<h2 class="nocount">Class Information</h2>
	<p>
		An introduction to software concepts and implementation, emphasizing problem solving through abstraction and decomposition. Introduces processes and algorithms, procedural abstraction, data abstraction, encapsulation, and inheritance. Recursion, iteration, and simple data structures are covered. Representation invariants, loop invariants, and exception handling are used as techniques for writing correct and robust programs. The impact of data representation on performance is discussed but not emphasized. Concepts and skills are mastered through programming projects, many of which employ graphics to enhance conceptual understanding. Java, an object-oriented programming language, is used as the vehicle of exploration. Prerequisites: Comfort with algebra and geometry at the high school level is assumed. Patience and good planning, organization, and problem solving skills will help you to succeed. Prior programming experience is helpful, but not necessary.</p>
</section>
	
<section class="motd">
	<h2 class="nocount">Message of the Day</h2>
	<ul class="block-list motd__list">
	{% for motd in site.data.motds limit:20 %}
		<li class="block-list__item motd__item">
			{{ motd }}
		</li>
	{% endfor %}
	</ul>
</section>

<section class="logistics">
	<h2 class="nocount">Logistics</h2>
	<p>
		Lectures are on Monday at 11:40am (in the WU tradition of 10 min past).  The lectures are held in Simon 1.
	</p>
	<p>
		Lab locations are in your schedule.
	</p>
	<p>
		Come to the lab for which you are registered, but we may move you to a different section (at the same time) to better handle the load.
	</p>

	<h2 class="nocount">Materials</h2>
	<p>
		The <a href="http://cse.wustl.edu/~roger/cse132/cc_v0_05.pdf">class textbook</a> is free.
	</p>
	<p>
		Assignments require a desktop computer (available in lab) and the purchase of a separate Arduino kit ($90). You will be able to buy a kit in studio and lab hours for the first two weeks of school.
	</p>
</section>
